<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos sobre el Calentamiento Global</title>
    <link rel="stylesheet" type="text/css" href="../static/css/aply.css">
   

</head>
<body>
    <h1>Let's take care of the world together</h1>
    <h2>Pongamos nuestro granito de arena</h2>
    
    <ul>
        <li>¡Di no al plástico de un solo uso! Opta por bolsas de tela reutilizables y botellas de agua recargables para reducir la cantidad de residuos que generamos.</li>
        <li>Antes de desechar papel y cartón, asegúrate de reciclarlo. Puedes transformar viejos periódicos y cajas de cartón en materiales útiles, como cuadernos o cajas de almacenamiento.</li>
        <li>Reduce tu huella de carbono optando por el transporte público o la bicicleta en lugar de conducir un automóvil. ¡Cada pequeño esfuerzo cuenta para reducir la contaminación!</li>
    
        
        
        
        
    </ul>
    <ul class = "litwo">
        <li><a href="https://youtu.be/3LjGAPqRID8?si=yBMXem16lk0ZC70V">Cómo hacer compostaje en casa</a></li>
        <li><a href="https://youtu.be/xCaI-5WVRlY?si=ujsSgrWiSY5AZOo6">Ideas para reutilizar botellas de plástico</a></li>
        <li><a href="https://youtu.be/q6nrVeA5SMc?si=M2yte1wFJ42-MmZo">Construcción de huertos urbanos verticales</a></li>
        <li><a href="https://youtu.be/_xLBCRrJi0s?si=s8pH9L8XL4BMzoT2">Cómo reducir el desperdicio de alimentos</a></li>
        <li><a href="https://youtu.be/rlN95qoY-Gg?si=LHQTaJn5l2Kejo93">Arte con materiales reciclados</a></li>
    </ul>

    <h3> Copyright © 2024 </h3>

   



</body>
</html>
