<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos sobre el Calentamiento Global</title>
    <link rel="stylesheet" type="text/css" href="../static/css/next.css">
   

</head>
<body>
  <div class="header">
      
      <div class="container">
          <img src="/static/img/polartwo.png" alt="Imagen Animada" class="imagen-animada">
      </div>

  </div>

  <div class="headerpingu">
      
    <div class="containerpingu">
        <img src="/static/img/pingu.png" alt="Imagen Animada" class="imagen-animada">
    </div>

 </div>




    <h1>Global Warming Facts</h1>
    <h2>No podras tomar accion, si no eres capaz de entender su importancia</h2>
    <h3>Sabias que...</h3>


    <ul>
        <li>
          La temperatura del mundo aumento 1,1 grados Celsius desde el siglo XIX. 
          Esto afecta gravemente los ecosistemas y provoca cambios climáticos extremos.
          <a href="https://www.ipcc.ch/sr15/" target="_blank">Fuente: IPCC</a>
        </li>
        <li>
          El dioxido de carbono (CO2) ha aumentado... MAS DEL 40%!!
          Por eso es la principal causa del calentamineto global, debilita la capa de ozono y el sol entra con mas fuerza.
          <a href="https://climate.nasa.gov/evidence/" target="_blank">Fuente: NASA</a>
        </li>
        <li>
          Los océanos han absorbido gran parte del calor extra, calentándose más de 0,33 grados en los últimos 50 años. 
          Y este calentamiento daña toda la fauna, flora y en general la vida marina...
          <a href="https://www.noaa.gov/education/resource-collections/climate-education-resources/climate-change-impacts" target="_blank">Fuente: NOAA</a>
        </li>
        
        <li>
          El nivel del mar ha subido ya 20 centímetros en el último siglo, y este aumento se ha acelerado en los últimos 20 años. 
          La subida del nivel del mar aumenta el riesgo de inundaciones en costas.
          <a href="https://www.ipcc.ch/report/ar5/wg1/" target="_blank">Fuente: IPCC</a>
        </li>
        <li>
          Los eventos climáticos extremos, como olas de calor, tormentas e inundaciones, son cada vez más frecuentes e intensos. 
          Estos eventos causan más desastres naturales y afectan a millones de personas, por eso cuidemos el planeta.
          <a href="https://www.wmo.int/pages/prog/wcp/wcdmp/index_en.php" target="_blank">Fuente: OMM</a>
        </li>
    </ul>
      
    

      <h4> Copyright © 2024 </h4>
      
</body>
</html>
